@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Hauora';
  src: url('./fonts/Hauora-Light.woff2') format('woff2'),
    url('./fonts/Hauora-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hauora';
  src: url('./fonts/Hauora-SemiBold.woff2') format('woff2'),
    url('./fonts/Hauora-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hauora';
  src: url('./fonts/Hauora-Medium.woff2') format('woff2'),
    url('./fonts/Hauora-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hauora';
  src: url('./fonts/Hauora-Bold.woff2') format('woff2'),
    url('./fonts/Hauora-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hauora';
  src: url('./fonts/Hauora-ExtraLight.woff2') format('woff2'),
    url('./fonts/Hauora-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hauora';
  src: url('./fonts/Hauora-ExtraBold.woff2') format('woff2'),
    url('./fonts/Hauora-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hauora';
  src: url('./fonts/Hauora-ExtraBold.woff2') format('woff2'),
    url('./fonts/Hauora-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hauora';
  src: url('./fonts/Hauora-SemiBold.woff2') format('woff2'),
    url('./fonts/Hauora-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hauora';
  src: url('./fonts/Hauora-ExtraLight.woff2') format('woff2'),
    url('./fonts/Hauora-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hauora';
  src: url('./fonts/Hauora-Regular.woff2') format('woff2'),
    url('./fonts/Hauora-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hauora';
  src: url('./fonts/Hauora-Light.woff2') format('woff2'),
    url('./fonts/Hauora-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hauora';
  src: url('./fonts/Hauora-Bold.woff2') format('woff2'),
    url('./fonts/Hauora-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hauora';
  src: url('./fonts/Hauora-Medium.woff2') format('woff2'),
    url('./fonts/Hauora-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hauora';
  src: url('./fonts/Hauora-Regular.woff2') format('woff2'),
    url('./fonts/Hauora-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: "Hauora";
  @apply max-md:text-[14px]
}


.content {
  @apply w-full px-[24px] md:px-[48px]
}


h1 {
  @apply font-semibold uppercase text-center text-title tracking-[0.5px]
}

h2 {
  @apply text-subtitle font-semibold text-text
}

ul li {
  list-style-type: disc;
}